<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appsys.dao.appversion.AppVersionMapper">

	<!-- List<AppVersion> getAppVersionById(int id); -->
	<select id="getAppVersionById" resultType="AppVersion">
		select 
			v.* ,
			(select i.softwareName from app_info i where v.appId=i.id) as appName
			from app_version v
				where  appId = #{id}
	</select>
</mapper>